<footer>
    <a href="https://github.com/Rahul5430/to-do-list" target="_blank">
        <img src="/Images/GitHub-Mark/PNG/GitHub-Mark-32px.png" alt="github-logo" style="margin-top: -30px;">
    </a>
    Rahul Sharma
</footer>
  
</html>