<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
        <meta name="description" content="My To Do List built using Node.js and Express.js">
        <meta name="keywords" content="To Do List, Rahul5430">
        <meta name="author" content="Rahul5430">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do List</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/Images/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/Images/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/Images/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="/Images/favicon_io/site.webmanifest">
        <link rel="stylesheet" href="/Styles/styles.css">
</head>